@import "tailwindcss";

@theme {
  --color-primary: #7A1B29;
  --color-primary-hover: #5C141F;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text-main: #1E293B;
  --color-text-secondary: #64748B;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}
